{% extends 'vacancies/company/my_company_base.html' %}
{% load crispy_forms_tags %}

{% block my_company %}

<h1 class="h4 pt-2 pb-3">Вакансия</h1>
{% if messages %}
{% for message in messages %}
<p class="alert alert-info" role="alert" style="text-align: center">
    {{ message }}
</p>
{% endfor %}
{% endif %}
{% crispy form "bootstrap4" %}


{% if vacancy %}
<h2 class="h4 pt-2 pb-3">Отклики - {{ vacancy.application_count }}</h2>

{% for application in vacancy.applications.all %}
{% include "vacancies/helpers/application_card.html" with application=application %}
{% endfor %}

{% endif %}


{% endblock %}