{% extends 'vacancies/company/my_company_base.html' %}

{% block my_company %}

<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>

    <div class="form-group">
        <input type="submit" class="btn btn-info" value="Сохранить">
    </div>
</form>

{% if vacancy %}
<h2 class="h4 pt-2 pb-3">Отклики - {{ vacancy.application_count }}</h2>

{% for application in vacancy.applications.all %}
{% include "vacancies/helpers/application_card.html" with application=application %}
{% endfor %}

{% endif %}


{% endblock %}