{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}
<div class="row mt-5">
    <div class="col-12 col-lg-2">
        <div class="pl-3 mb-5">
            <p><a href="{{ request.META.HTTP_REFERER }}">Назад</a></p>
        </div>
    </div>
    <div class="col-12 col-lg-8">
        <section class="pl-3">
            <a href="{% url 'public:company' object.company.id %}">
                {% include "vacancies/helpers/company_logo.html" with company=object.company %}
            </a>
            <div class="d-flex align-items-baseline align-content-baseline">
                <h1 class="h2 mt-4 font-weight-bold">{{ object.title }}</h1>
                <p class="m-0 pl-3">{{ object.salary_min }} – {{ object.salary_max }} Р</p>
            </div>
            <p class="mt-2">{{ object.skills }}</p>
            <p class="text-muted mb-4">{{ object.company.name }} ({{ object.company.employee_count }} человек),
                {{object.company.location }}</p>
            <div style="line-height: 1.8;">
                <p>{{object.description|safe }}</p>
            </div>

            {% if user.is_authenticated %}
            <div class="col-lg-8 offset-lg-2">
                {% crispy form "bootstrap4" %}
            </div>
            {% else %}
            <a href="{% url 'accounts:login' %}?next={{ request.path }}" class="nav-link font-weight-bold">
                Авторизуйтесь для отклика
            </a>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}