{% load static %}
{% load helpers %}

<div class="col-6 col-md-6 col-lg-3">
    <div class="card pt-4 text-center mb-4">
        <a href="{% url 'public:vacancies' specialty.code %}">
            <img class="mx-auto d-block" src="{% static specialty.picture %}" width="80" height="80" alt="">
        </a>
        <div class="card-body">
            <p class="card-text mb-2">{{ specialty.title }}</p>
            <p class="card-text">
                <a href="{% url 'public:vacancies' specialty.code %}">
                    {{specialty.vacancies_count|ru_pluralize:'вакансия,вакансии,вакансий' }}
                </a>
            </p>
        </div>
    </div>
</div>